@import url("./header.css");
@import url("./navigation.css");
@import url("./content.css");

.documentation--main {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Roboto";
  height: 100%;
}

.documentation--sub-container {
  display: flex;
  position: relative;
  height: 100%;
}

.documentation--sub-container > .documentation--navigation, .documentation--sub-container > .documentation--content {
  display: flex;
  flex-direction: column;
  position: inherit;
}

.documentation--sub-container > .documentation--navigation {
  flex-shrink: 0;
  width: 340px;
  padding: 10px;
  background: #f4f6f7;
  overflow-y: auto;
}

.documentation--sub-container > .documentation--content {
  flex-grow: 1;
  background: #dfe5e7;
  padding: 10px;
}
